In [215]:

# importing libraries
import pandas as pd
import glob
import os
from datetime import date
from datetime import date
todays_date = date.today()
mon="0"+str(todays_date.month)
# merging the files
def mntlyrpt():
    
    joined_files = os.path.join(r"C:\Users\vaibh\Downloads\Attendance-System--main\Attendance-System--main\Project attendance\Attendance", "Attendance*-"+mon+"-*"+".csv")

    # A list of all joined files is returned
    joined_list = glob.glob(joined_files)

    # Finally, the files are joined
    df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
    
    t=df['Name'].value_counts(ascending=True)
    t.to_csv(r"C:\Users\vaibh\Downloads\Attendance-System--main\Attendance-System--main\Project attendance\Attendance\count"+mon+".csv" ,index = True)
    p = pd.read_csv("count"+mon+".csv", names=['Name','Total_Attendance'],header=None)
    p=p.iloc[1:]
    p.loc[0:,['Total_Attendance']] = p.loc[0:,['Total_Attendance']] +"/" +str(len(df)-1)
    print(p)
    p.to_csv(r"C:\Users\vaibh\Downloads\Attendance-System--main\Attendance-System--main\Project attendance\Attendance\MonthlyReport"+mon+".csv" ,index = True)
mntlyrpt()

              Name Total_Attendance
1  Shubham Samanta             1/34
2            rupal             3/34
3    Swastik Singh             7/34
4          Vaibhav            24/34

In [213]:
from datetime import date
todays_date = date.today()
mon="0"+str(todays_date.month)

05

In [195]:
p=p.iloc[1:]

In [201]:
mon="05"
print("Attendance*-"+mon+"-*"+".csv")

Attendance*-05-*.csv

In [165]:
for row in p.itertuples():
    print(row)
    #print(p['Total_Attendance'])
    #temp= p['Total_Attendance'].astype(int)

    p['Attendance_Percentage']=str(temp / int(len(df)-1))+"%"
    p['Total_Attendance']= p['Total_Attendance'] + "/"+ str(len(df)-1)

Pandas(Index=1, Name='Shubham Samanta', Total_Attendance='1')
Pandas(Index=2, Name='rupal', Total_Attendance='3/34')
Pandas(Index=3, Name='Swastik Singh', Total_Attendance='7/34/34')
Pandas(Index=4, Name='Vaibhav', Total_Attendance='24/34/34/34')

In [166]:
t=df['Name'].value_counts(ascending=True)

In [167]:
p['Total_Attendance']=str(p['Total_Attendance'])+"/"+str(len(df)-1)

In [199]:
t.loc[0:,['Total_Attendance']] = t.loc[0:,['Total_Attendance']] +"/" +str(len(df)-1)

In [198]:
t.loc[0:,['Attendance_Percentange']] = int(t.loc[0:,['Total_Attendance']])/(len(df)-1)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'DataFrame'

In [200]:
t

              Name Total_Attendance
1  Shubham Samanta             1/34
2            rupal             3/34
3    Swastik Singh             7/34
4          Vaibhav            24/34

In [33]:
for idx,name in enumerate(df['Name'].value_counts().index.tolist()):
    print('Name :', name)
    print('Counts :', df['Name'].value_counts()[idx])

Name : Vaibhav
Counts : 24
Name : Swastik Singh
Counts : 7
Name : rupal
Counts : 3
Name : Shubham Samanta
Counts : 1

In [182]:
t=p

In [35]:
df.to_csv("output.csv", header=['values'])

ModuleNotFoundError: No module named 'matplotlib'

In [42]:
df = pd.DataFrame(df["Name"].value_counts())
df.index.name = "Name"
df.columns = ['count']

In [47]:
df.to_csv(r"C:\Users\vaibh\Downloads\Attendance-System--main\Attendance-System--main\Project attendance\Attendance\Merged07.csv", index = True)

In [63]:
t.to_Frame()

AttributeError: 'DataFrame' object has no attribute 'to_Frame'